<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirmation</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .container1 {
            padding: 20px;      
        }
        .header {
            color: #ffffff;
            font-size: 24px;
            margin-bottom: 13px;
        }
        h1 {
            color: #333333;
        }

        p {
            color: #555555;
        }

        .email-header {
            background-color: #007bff;
            padding: 24px;
            color: #ffff;
            text-align: center;
        }

        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }
        .cta-button:hover{ 
            background-color: #0c2744;
        }

        .footer {
            margin-top: 40px;
            color: #888888;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="email-header">
            <h1 class="header">SMHOS Asset Password Reset Email</h1>
        </div>
        <div class="container1">

            <h1>Dear, <%= user.name %>!</h1>
            <p>Your have successfully reset your password.</p>
            <p>You can now login with your new password.</p>
            <p>If you did not reset your password, please ignore this email.</p>
            <div class="footer">
                <p>Sent by <strong>SMHOS</strong></p>
                </p>
            </div>
        </div>

    </div>
</body>

</html>